.App {
  text-align: center;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
    	transform: rotate(360deg);
    }
}

.hover\\:spin-emoji:hover .emoji {
    animation: spin 1s linear infinite;
}